@model DailyShop.Areas.Admin.Models.User

@{
    ViewData["Title"] = "Details";
}
<main class="app-content">
    <h2>Thông tin người dùng</h2>

    <div>
        
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Username)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Username)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Password)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Password)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Fullname)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Fullname)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Gender)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Gender)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Phonenumber)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Phonenumber)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AccountStatus)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AccountStatus)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Chỉnh sửa</a> |
        <a asp-action="Index">Quay lại</a>
    </div>

</main>
